/* Visualization functionality,map part */
#map-canvas {
	height: 600px;
}

#map-canvas img {
	max-width: none;
}

/* tbclean */
#map-searchbox {
	position: absolute;
	top: -105px;
	left: 0px;
	z-index: 5;
	background-color: #FEFCFF;
	padding: 5px;
	border: 1px solid #999;
	width: 210px;
}

#map-searchbox-wrapper {
	position: relative;
}