@(param : String)(implicit session: play.api.mvc.Session) 
@if(session.get("userType").getOrElse("No User Type").equals("Admin")){
@main(""){
<div class="mainbar">
      
	    <!-- Page heading -->
	    <div class="page-head">
        <!-- Page heading -->
	      <h2 class="pull-left">Welcome to Admin View.
          <!-- page meta -->
         
        </h2>


        <!-- Breadcrumb -->
        

        <div class="clearfix"></div>

	    </div>
	    <!-- Page heading ends -->



	    <!-- Matter -->



		<!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->	    	
   <div class="clearfix"></div>

</div>
<!-- Content ends -->

}
} else {
@errorPage(""){ 
        
}

}