@(form: Form[PasswordChange])(implicit request: RequestHeader, flash:Flash, l: Lang=Lang("en"), session: play.api.mvc.Session)
@if(session.get("userType").getOrElse("No User Type").equals("Admin")||session.get("userType").getOrElse("No User Type").equals("Feedcat User")){
	
@main(""){
<div class="mainbar">
        <!-- Page heading -->
        <div class="page-head">
                <!-- Page heading -->
                <h2 class="pull-left">
                </h2>
                <div class="widget worange">
                        <div class="widget-head">
                                <div class="pull-left">
                                        Change Password Form
                                </div>
                                <div class="widget-icons pull-right">
                                        <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                                        <a href="#" class="wclose"><i class="icon-remove"></i></a>
                                </div>
                                <div class="clearfix">
                                </div>
                        </div>
                        <div class="widget-content">
                                <div class="padd">
                                        <div class="form quick-post">
                                                <!-- Edit profile form (not working)-->
                                                @helper.form(action = routes.Login.passwordChanged){
                                                        <!-- Title -->
                                                        
                                                        <div class="control-group">
                                                               
                                                                <div class="controls">
                                                                        <input type="hidden" class="input-xlarge" id="username" name="username" value="@session.get("firstName")"/>
                                                                </div>
                                                        </div>
                                                        
                                                                <div class="control-group">
                                                                <label class="control-label">Enter Old Password</label>
                                                                <div class="controls">
                                                                        <input type="password" class="input-xlarge" id="oldPassword" name="oldPassword" required/>
                                                                </div>
                                                        </div>
                                                        <div class="control-group">
                                                                <label class="control-label" for="newPassword">Enter New Password</label>
                                                                <div class="controls">
                                                                        <input type="password" class="input-xlarge" id="newPassword" name="newPassword" required/>
                                                                </div>
                                                        </div>
                                                        <div class="control-group">
                                                                <label class="control-label" for="repeatPassword">Re-enter Password</label>
                                                                <div class="controls">
                                                                        <input type="password" class="input-xlarge" id="repeatPassword" name="repeatPassword" required/>
                                                                </div>
                                                        </div>
                                                        <!-- Content -->
                                                        
                                                        <!-- Tags -->
                                                        <!-- Buttons -->
                                                        <div class="form-actions">
                                                                <!-- Buttons -->
                                                                <button type="submit" class="btn btn-info">Reset Password</button>
                                                                
                                                        </div>
                                                        @if(flash.data.contains("message")){ 
   <div class="alert alert-success">@flash.get("message")</div>
 } 
 @if(flash.data.contains("errormessage")){  
   <div class="alert alert-error">@flash.get("errormessage")</div>
 }
                                                }
                                        </div>
                                </div>
                        </div>
                        <div class="widget-foot">
                                <!-- Footer goes here -->
                        </div>
                </div>
        </div>
</div>
<!-- Content ends -->
}
} else {
@errorPage(""){ 
        
}

}