@* classificationTest Template File *@
@(param: List[Classification])




<select name="classification">

@for(list <- param){

<option disabled>@list.classificationName</option>

@for(subValues <- list.subClassification){
	
	<option>@subValues.toString</option>
}




}



</select>