@(form: Form[UserRegister])(implicit session: play.api.mvc.Session, flash : Flash) 
@if(session.get("userType").getOrElse("No User Type").equals("Admin")){

@main(" "){
	
	<script src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/success.js")"></script>
	
  	<!-- Main bar -->
  	<div class="mainbar">
	    <!-- Page heading -->
	    <div class="page-head">
        <!-- Page heading -->
	      <h2 class="pull-left">Register New User
          <!-- page meta -->
          <span class="page-meta">Please enter the details:</span>
        </h2>
        <!-- Breadcrumb -->
        <div class="clearfix"></div>
	    </div>
	    <!-- Page heading ends -->
	    <!-- Matter -->
	    <div class="matter">
        <div class="container-fluid">

          <div class="row-fluid">
            <div class="span12">
              <div class="widget wgreen">
                <div class="widget-head">
                  <div class="pull-left">REGISTRATION</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">

   @if(!flash.isEmpty){
   									<div class="control-group hideLink">
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	<span >    @flash.get("success") </span> 
               								   	</div></div>
                                         		 </div>
					 
					          	
           }else {
              
                    <h6><strong>Please fill in all fields.</strong></h6>
                  }
                    <hr />
                    <!-- Form starts.  -->
                    <!-- Form starts.  -->
                    @helper.form(action = routes.Register.registration) {
           
        
                                              
                      <div class="control-group">
                        <label class="control-label" for="firstName">First Name :</label>
                        <div class="controls">
                          <input type="text" id="firstName" name="firstName"  placeholder="First Name" required>
                        </div>
                      </div>
                      
                      <div class="control-group">
                        <label class="control-label" for="lastName">Last Name :</label>
                        <div class="controls">
                          <input type="text" id="lastName"  name="lastName" placeholder="Last Name" required>
                        </div>
                      </div>
                      
                      <div class="control-group">
                        <label class="control-label" for="username">UserName :</label>
                        <div class="controls">
                          <input type="text" id="username"  name="username" placeholder="UserName" required>
                        </div>
                      </div>
                      
                      <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                          <input type="password" id="password"   name="password" placeholder="Password" required>
                        </div>
                      </div>
  						
                      <hr />

                      <div class='select-radio'>

                        <label>Select User Type</label>
                        <select name="userType" id = "userType">
                          <option value='Admin'>Admin</option>
                          <option value='Feedcat User'>Feedcat User</option>
                        </select>
                        <hr />
                        
                      </div>
                      <br/>
                      @form.globalError.map{ error =>
           				<p><font color="green">Please fill the details again. </font></p> } 
                   
                      <button type="submit" class="btn btn-success">Register User</button>
                    
                   }

                  </div>
                </div>    
                
                   <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
              </div>  

            </div>

          </div>

        </div>
		  </div>

}
} else {
@errorPage(""){ 
        
}

}