@(param: String)(implicit request: RequestHeader, flash:Flash, l: Lang=Lang("en"), session: play.api.mvc.Session)
@import play.api.i18n._
@import views.html.helper._ 
@if(session.get("userType").getOrElse("No User Type").equals("Admin")||session.get("userType").getOrElse("No User Type").equals("Feedcat User")){

@main(""){
  	<!-- Main bar -->
  	<div class="mainbar">
      
	    <!-- Page heading -->
	    <div class="page-head">
   		     <div class="clearfix"></div>
	    </div>
	    <div class="matter">
        <div class="container-fluid">
       @helper.form(action = routes.CreateIssue.upload, 'enctype -> "multipart/form-data") {
          <div class="row-fluid ">
				
            <div class="span6">
              <div class="widget wgreen">
                <div class="widget-head">
                  <div class="pull-left">UPLOAD User-Feedback</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">
					<span class="spanMargin" >Please Upload User FeedBack/Site Satisfaction Survey Report</span>
                  <br/><br/><br/>




   <input type="file" name="fileupload" id="fileupload"  />
     <input type="submit" value="Upload" class="btn btn-primary">
   
   
   
   
   
 }
@if(flash.data.contains("message")){ 
   <div class="alert alert-success">@flash.get("message")</div>
 } 
 @if(flash.data.contains("errormessage")){  
   <div class="alert alert-error">@flash.get("errormessage")</div>
 }

                  </div>
                   <br/><br/><br/>
                </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
              </div>  

            </div>





          </div>
        </div>
		  </div>

		<!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->	    	
   <div class="clearfix"></div>

</div>
<!-- Content ends -->


}
} else {
@errorPage(""){ 
        
}

}
