@(form: Form[Issue], classificationList: List[Classification])(implicit session: play.api.mvc.Session) 
@if(session.get("userType").getOrElse("No User Type").equals("Admin")||session.get("userType").getOrElse("No User Type").equals("Feedcat User")){

@main("") {
<!-- Main bar -->


<div class="mainbar">
        <!-- Page heading -->
        <div class="page-head">
                <!-- Breadcrumb -->
                <div class="clearfix">
                </div>
        </div>
        <!-- Page heading ends -->
        <!-- Matter -->
        <div class="matter">
                <div class="container-fluid">
                
                         @helper.form(action = routes.CreateIssue.createNewIssue, 'enctype -> "multipart/form-data"){
                        <div class="row-fluid">
                                <div class="span6">
                                        <div class="widget wgreen">
                                                <div class="widget-head">
                                                        <div class="pull-left">
                                                                CREATE ISSUE
                                                        </div>
                                                        <div class="widget-icons pull-right">
                                                                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                                                                <a href="#" class="wclose"><i class="icon-remove"></i></a>
                                                        </div>
                                                        <div class="clearfix">
                                                        </div>
                                                </div>
                                                <div class="widget-content">
                                                        <div class="padd">
                                                                
                                                                
                                                                <div class='select-radio'>
                                                                        <label class="control-label">Issue Type:</label>
                                                                        <input type='radio' value="Zero-Result" class="issueType" id="issueType" name="issueType" checked/> Zero-Result 
                                                                        <input type='radio' value="User-Feedback" class="issueType" id="issueType" name="issueType"/> User-Feedback 
                                                                        <input type='radio' value="Customer-Feedback" class="issueType" id="issueType" name="issueType"/> Customer-Feedback
                                                                </div>
                                                                <!-- Select box For Issue Summary -->
                                                                <br>
                                                                <div class="controls controls-row">
                                                                        <label class="control-label" for="issueSummary">Issue Summary:</label>
                                                                        
                                                                </div>
                                                                                                                               
                                                                <div class="controls controls-row">
                                                                			<!--  	<a href="#" id="issueSummary">superuser</a>-->
                                                                              <textarea class="span12" id="issueSummary" name="issueSummary" placeholder="Issue Summary" rows="6" cols="60" style="resize:none;" required></textarea> 
                                                                </div>
                                                                <br>
                                                                <!-- Select box For Issue Status -->
                                                                <div class="controls controls-row">
                                                                        <label class="bottomMargin span6">Issue Status:</label>
                                                                                                                                                                     
                                                                                                                                                                                               
                                                                </div>
                                                                <!-- Select box For Issue Classification -->
                                                                <div class="controls controls-row">
                                                                         <select class="span4" name="issueStatus" align="left">
                                                                                        <option value="New">New</option>
                                                                                		<option value="Open">Open</option>
                                                                                        <option value="In-Progess">InProgress</option>
                                                                                        <option value="Resolved">Resolved</option>
                                                                                        <option value="NotAnIssue">NotAnIssue</option> 
                                                                         </select>
                                                                 </div>                  
                                                                
                                                                <br>
                                                                
                                                                <div class="controls controls-row">
                                                                <label class="control-label">Classification:</label>
                                                                
                                                                <div class="selectCheckBoxes">
                                                                @for(list <- classificationList){ <strong>@list.classificationName </strong><br/>
                                                                	@for(subValues <- list.subClassification){
                                                                <input type="checkbox" name="classification[]" value="@list.classificationName - @subValues.toString"> : @subValues.toString<br/>
                                                                }
                                                                }
                                                                </div>
                                                                
                                                                </div>
                                                                
                                                                <br><br>
                                                                
                                                                <div class="controls controls-row">
                                                                        <label class="bottomMargin span6" for="date">Date :</label>
                                                                        <label class="bottomMargin span6" for="issuePriority">Issue Priority:</label>
                                                                        
                                                                                
                                                                        
                                                                </div>
                                                                <!-- Select box For Issue Priority -->
                                                                <div class="controls controls-row">
                                                                        
                                                                                <input class="span6" type="text" id="date" name="date" required/>
                                                                                <select class="span6" name="issuePriority">
                                                                                        <option value="high">High</option>
                                                                                        <option value="medium">Medium</option>
                                                                                        <option value="low">Low</option>
                                                                                        <option value="unPrioritized">UnPrioritized</option>
                                                                                </select>
                                                                        
                                                                </div>
                                                                
                                                                <br>
                                                                <div class="controls controls-row">
                                                                        <label class="bottomMargin span6" for="crossReferenceID">Cross Reference ID:</label>
                                                                        <label class="bottomMargin span6" for="action">Action/Solution:</label>
                                                                        
                                                                </div> 
                                                                
                                                                
                                                                
                                                                <div class="controls controls-row">
                                                                        
                                                                        
                                                                                <input class="span6" type="text" id="crossReferenceID" name="crossReferenceID" placeholder="Cross Reference ID" required/>
                                                                                <input class="span6" type="text" id="action" name="action" placeholder="Action" required/>
                                                                        
                                                                </div>
                                                                
                                                                <br>
                                                                <div class="controls controls-row">
                                                                <label class="control-label">Attachment:</label>
                                                                <input class="span12" type="file" name="attachment" multiple>
                                                                
                                                                </div>
                                                                
                                                                
                                                                
                                                        </div>
                                                        
                                                </div>
                                        </div>
                                </div>
                                <!-- Zero Results  -->
                                
                                        
                                                
                                                <div id="zero">
                                                <div class="span4">
                                                        <div class="widget wred">
                                                                <div class="widget-head">
                                                                        <div class="pull-left">
                                                                                ZERO RESULTS
                                                                        </div>
                                                                        <div class="widget-icons pull-right">
                                                                                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                                                                                <a href="#" class="wclose"><i class="icon-remove"></i></a>
                                                                        </div>
                                                                        <div class="clearfix">
                                                                        </div>
                                                                </div>
                                                                <div class="widget-content">
                                                                        <div class="padd">
                                                                                
                                                                                <!-- Form starts.  -->
                                                                                <div class="control-group">
                                                                                        <label class="control-label" for="zeroResults.query">Query :</label>
                                                                                        <div class="controls">
                                                                                                <input type="text" id="zeroResults.query" name="zeroResults.query" placeholder="Query">
                                                                                        </div>
                                                                                </div>
                                                                               
                                                                                <div class="control-group">
                                                                                        <label class="control-label" for="zeroResults.location">Location :</label>
                                                                                        <div class="controls">
                                                                                                <input type="text" id="zeroResults.location" name="zeroResults.location" placeholder="Location">
                                                                                        </div>
                                                                                        
                                                                                </div>
                                                                                
                                                                                <div class="control-group">
                                                                                        <label class="control-label" for="zeroResults.count">Count :</label>
                                                                                        <div class="controls">
                                                                                                <input type="text" id="zeroResults.count" name="zeroResults.count" placeholder="Count">
                                                                                        </div>
                                                                                </div>
                                                                                <div class="control-group">
                                                                                        <label class="control-label" for="zeroResults.percentage">Percentage :</label>
                                                                                        <div class="controls">
                                                                                                <input type="text" id="zeroResults.percentage" name="zeroResults.percentage" placeholder="Percentage">
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <hr/>
                                                                        <button type="submit" class="btn btn-success">Create Issue</button>
                                                                        <button type="submit" class="btn btn-danger">Cancel</button>
                                                                </div>
                                                        </div>
                                                </div>
                                        
                                </div>
                                <!-- User Feedback  -->
                                
                                        <div id="user">
                                                <div class="span6">
                                                
                                                        <div class="widget wviolet">
                                                                <div class="widget-head">
                                                                        <div class="pull-left">
                                                                                USER FEEDBACK
                                                                        </div>
                                                                        <div class="widget-icons pull-right">
                                                                                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                                                                                <a href="#" class="wclose"><i class="icon-remove"></i></a>
                                                                        </div>
                                                                        <div class="clearfix">
                                                                        </div>
                                                                </div>
                                                                <div class="widget-content">
                                                                        <div class="padd">
                                                                                
                                                                                <!-- Form starts.  -->
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6"  for="userFeedback.query2">Query :</label>
                                                                                        <label class="bottomMargin span6"  for="userFeedback.location2">Location :</label>
                                                                                        
                                                                                </div>
                                                                                <div class="controls controls-row">
                                                                                        
                                                                                        
                                                                                        <input class="span6" type="text" id="userFeedback.query2" name="userFeedback.query2" placeholder="Query">
                                                                                                <input class="span6" type="text" id="userFeedback.location2" name="userFeedback.location2" placeholder="Location">
                                                                                        
                                                                                </div>
                                                                                <br>
                                                                                
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6" for="userFeedback.count2">Count :</label>
                                                                                        
                                                                                                <label class="bottomMargin span6" for="userFeedback.reporter">Reporter :</label>
                                                                                        
                                                                                </div>
                                                                                <div class="controls controls-row">
                                                                                        
                                                                                        
                                                                                        <input class="span6" type="text" id="userFeedback.count2" name="userFeedback.count2" placeholder="Count">
                                                                                                <input class="span6" type="text" id="userFeedback.reporter" name="userFeedback.reporter" placeholder="Reporter">
                                                                                        
                                                                                </div>
                                                                                <br>
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6" for="userFeedback.problemSource">Problem Source :</label>
                                                                                        <label class="bottomMargin span6" for="userFeedback.endUserFeedback">End User Feedback :</label>
                                                                                        
                                                                                </div>
                                                                                <div class="controls controls-row">
                                                                                        
                                                                                        
                                                                                        <input class="span6" type="text" id="userFeedback.problemSource" name="userFeedback.problemSource" placeholder="Problem Source">
                                                                                                <input class="span6" type="text" id="userFeedback.endUserFeedback" name="userFeedback.endUserFeedback" placeholder="End User Feedback">
                                                                                        
                                                                                </div>
                                                                                <br>
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6" for="userFeedback.searchEngineerFeedback">Search Engineer Feedback :</label>
                                                                                        
                                                                                        <label class="bottomMargin span6" for="userFeedback.npsScore">NPS Score :</label>
                                                                                </div>
                                                                                
                                                                                <div class="controls controls-row">
                                                                                                                                                                
                                                                                        <input class="span6" type="text" id="userFeedback.searchEngineerFeedback" name="userFeedback.searchEngineerFeedback" placeholder="Search Engineer Feedback">
                                                                                                        
                                                                                        <input class="span6" type="text" id="userFeedback.npsScore" name="userFeedback.npsScore" placeholder = "NPS Score">
                                                                                </div>
                                                                                
                                                                                <br>
                                                                                
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6" for="userFeedback.verbatimFeedback">Verbatim Feedback:</label>
                                                                                        <label class="bottomMargin span6">Feedback Class:</label>
                                                                                </div>
                                                                                <div class="controls controls-row">
                                                                                        
                                                                                                <textarea class="span6" id="userFeedback.verbatimFeedback" name="userFeedback.verbatimFeedback" placeholder="Verbatim Feedback" rows="6" cols="60"></textarea>
                                                                                                <input class="span6" type="text" id="userFeedback.feedbackClass" name="userFeedback.feedbackClass" placeholder="Feedback Class">
                                                                                </div>
                                                                                
                                                                                
                                                                                   
                                                                                
                                                                            
                                                                                
                                                                                
                                                                                
                                                                                
                                                                        </div>
                                                                        <hr/>
                                                                        <button type="submit" class="btn btn-success">Create Issue</button>
                                                                        <button type="submit" class="btn btn-danger">Cancel</button>
                                                                </div>
                                                        </div>
                                                </div>
                                        
                                </div>
                                <!-- Customer Feedback  -->
                                <div id="customer">
                                        
                                                <div class="span6">
                                                        <div class="widget wlightblue">
                                                                <div class="widget-head">
                                                                        <div class="pull-left">
                                                                                CUSTOMER FEEDBACK
                                                                        </div>
                                                                        <div class="widget-icons pull-right">
                                                                                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                                                                                <a href="#" class="wclose"><i class="icon-remove"></i></a>
                                                                        </div>
                                                                        <div class="clearfix">
                                                                        </div>
                                                                </div>
                                                                <div class="widget-content">
                                                                        <div class="padd">
                                                                                
                                                                                <!-- Form starts.  -->
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6" for="customerFeedback.query3">Query :</label>
                                                                                        <label class="bottomMargin span6" for="customerFeedback.location3">Location :</label>
                                                                                        
                                                                                </div>
                                                                                <div class="controls controls-row">
                                                                                        
                                                                                        
                                                                                                <input class="span6" type="text" id="customerFeedback.query3" name="customerFeedback.query3" placeholder="Query">
                                                                                                <input class="span6" type="text" id="customerFeedback.location3" name="customerFeedback.location3" placeholder="Location">
                                                                                        
                                                                                </div>
                                                                                <br>
                                                                                <div class="controls controls-row">
                                                                                                          <label class="bottomMargin span6" for="customerFeedback.reporter2">Reporter :</label>
                                                                                        
                                                                                                <label class="bottomMargin span6" for="customerFeedback.estimatedCost">Estimated Cost :</label>
                                                                                        
                                                                                </div> 
                                                                                <div class="controls controls-row">
                                                                                        
                                                                                        
                                                                                        <input class="span6" type="text" id="customerFeedback.reporter2" name="customerFeedback.reporter2" placeholder="Reporter">
                                                                                        <input class="span6" type="text" id="customerFeedback.estimatedCost" name="customerFeedback.estimatedCost" placeholder="Estimated Cost">
                                                                                        
                                                                                </div>
                                                                                
                                                                                   <br>                                                                     
                                                                                              
                                                                                
                                                                                 <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6">Liaison Name:</label>
                                                                                        <label class="bottomMargin span6">Liason Email:</label>
                                                                                        
                                                                                </div>
                                                                                
                                                                                <!-- Select box For Listings Effected -->
                                                                                <div class="controls controls-row">
                                                                                       <input class="span6" type="text" id="customerFeedback.liaison.name" name="customerFeedback.liaison.name" placeholder="Liaison Name">
                                                                                       <input class="span6" type="text" id="customerFeedback.liaison.email" name="customerFeedback.liaison.email" placeholder="Liaison Email">
                                                                                                                                                                                      
                                                                                        
                                                                                </div>
                                                                                <br>
                                                                                 <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6">Liaison Role:</label>
                                                                                        <label class="bottomMargin span6">Liason Department:</label>
                                                                                        
                                                                                </div>
                                                                                
                                                                                <!-- Select box For Listings Effected -->
                                                                                <div class="controls controls-row">
                                                                                       <input class="span6" type="text" id="customerFeedback.liaison.role" name="customerFeedback.liaison.role" placeholder="Liaison Role">
                                                                                       <input class="span6" type="text" id="customerFeedback.liaison.dept" name="customerFeedback.liaison.dept" placeholder="Liaison Department">
                                                                                                                                                                                      
                                                                                        
                                                                                </div>
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                <br>
                                                                                
                                                                                
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6">Listings effected:</label>
                                                                                        <label class="bottomMargin span6">Advertiser ID:</label>
                                                                                        
                                                                                </div>
                                                                                
                                                                                <!-- Select box For Listings Effected -->
                                                                                <div class="controls controls-row">
                                                                                       <input class="span6" type="text" id="customerFeedback.listingsEffected" name="customerFeedback.listingsEffected" placeholder="Listings Effected">
                                                                                       <input class="span6" type="text" id="customerFeedback.advertiserID" name="customerFeedback.advertiserID" placeholder="Advertise ID">
                                                                                                                                                                                      
                                                                                        
                                                                                </div>
                                                                                
                                                                                 <br>          
                                                                                <div class="controls controls-row">
                                                                                        <label  for="customerFeedback.initialCommunication">Initial Communication:</label>
                                                                                 </div>
                                                                                
                                                                              
            
                                 <div class="controls controls-row">
               
                 <ul class="chats">

                      <div id="addinput">
                      
                      <li class="by-me">
                        <!-- Use the class "pull-left" in avatar -->
                        <div class="avatar pull-left">
                         
                        </div>

                        <div class="chat-content">
                          <!-- In meta area, first include "name" and then "time" -->
                          <div class="chat-meta">Communication <span class="pull-right"><a href="#" id="addNew">Add More</a></span></div>
                           <textarea class="span12" id="customerFeedback.initialCommunication[0]" name="customerFeedback.initialCommunication[0]" placeholder="Initial Communication" rows="6" style="resize:none;" ></textarea>
                          <div class="clearfix"></div>
                        </div>
                      </li> 
                      </div>

                      <!-- Chat by other. Use the class "by-other". -->
                     
                      
                    </ul>
                
                     </div>                                                           
                                                                 
                                                                                
                                                                        </div>
                                                                        <hr/>
                                                                        <button type="submit" class="btn btn-success">Create Issue</button>
                                                                        <button type="submit" class="btn btn-danger">Cancel</button>
                                                                        @form.globalError.map{ error =>
                                                                        <p>
                                                                                <font color="red">Please try again </font>
                                                                        </p>
                                                                         }
                                                                </div>
                                                        </div>
                                                
                                                                        
                                                        
                                        </div>
                                        
                                        </div>
                                        
                                                        
                                
                             
         
                                                                             
                                                                                
                                                                          
                               
                        </div>
                
                 }
                 
        </div>
</div>
<!-- Matter ends -->
</div>
<!-- Mainbar ends -->
<div class="clearfix">
</div>
</div>
<!-- Content ends -->

}
}  else {
@errorPage(""){ 
        
}

}