@(form: Form[UserToDel],userList: List[UserEntity])(implicit session: play.api.mvc.Session, flash: Flash) 
@if(session.get("userType").getOrElse("No User Type").equals("Admin")){

@main(" "){
	
	<script src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/success.js")"></script>
	
        <!-- Main bar -->
        <div class="mainbar">
            <!-- Page heading -->
            <div class="page-head">
        <!-- Page heading -->
              <h2 class="pull-left">Delete User
          <!-- page meta -->
         
        </h2>
        <!-- Breadcrumb -->
        <div class="clearfix"></div>
            </div>
            <!-- Page heading ends -->
            <!-- Matter -->
            <div class="matter">
        <div class="container-fluid">

          <div class="row-fluid">
            <div class="span12">
              <div class="widget wgreen">
                <div class="widget-head">
                  <div class="pull-left">Delete User</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">
 @if(!flash.isEmpty){
   									<div class="control-group hideLink">
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	<span >    @flash.get("success") </span> 
               								   	</div></div>
                                         		 </div>
					 
					          	
           }
                    
                    <hr />
                    <!-- Form starts.  -->
                    <!-- Form starts.  -->
                    @helper.form(action = routes.Register.delete) {
             
                                <div class="control-group">
                                                                <label class="control-label">Select User</label>
                                                                <div class="controls">
                                                                
                                                                
                                                                        <select name="userID" id ="userID">
                                                                                 @for(user <- userList){ 
                                                                                 
                                                                                 <option value="@user.userID">@user.firstName</option>
                                                                                 
                                                                                }
                                                          				</select>   
                                                                      
                                                                      
                                                                         
                                                                </div>
                                                        </div>
                      
                     
                      <br/>
                      @form.globalError.map{ error =>
                                        <p><font color="green">Successful </font></p> } 
                   
                      <button type="submit" class="btn btn-success">Delete User</button>
                    
                   }

                  </div>
                </div>    
                
                   <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
              </div>  

            </div>

          </div>

        </div>
                  </div>

}
}  else {
@errorPage(""){ 
        
}

}