@* deleteClassification Template File *@
@(form: Form[SubClassification],classificationList: List[Classification])(implicit session: play.api.mvc.Session) 
@if(session.get("userType").getOrElse("No User Type").equals("Admin")){

@main(""){
<div class="mainbar">
        <!-- Page heading -->
        <div class="page-head">
                <!-- Page heading -->
                <h2 class="pull-left">
                </h2>
                <div class="widget worange">
                        <div class="widget-head">
                                <div class="pull-left">
                                        Delete Classification
                                </div>
                                <div class="widget-icons pull-right">
                                        <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                                        <a href="#" class="wclose"><i class="icon-remove"></i></a>
                                </div>
                                <div class="clearfix">
                                </div>
                        </div>
                        <div class="widget-content">
                                <div class="padd">
                                        <div class="form quick-post">
                                                <!-- Edit profile form (not working)-->
                                                @helper.form(action = routes.Admin.deleteConfClassification){
                                                        <!-- Title -->
                                                        
                                                        
                                                                <div class="control-group">
                                                                <label class="control-label">Select Sub-Category of Classification</label>
                                                                <div class="selectCheckBoxes">
                                                                @for(list <- classificationList){ <strong>@list.classificationName </strong><br/>
                                                                	@for(subValues <- list.subClassification){
                                                                <input type="checkbox" name="classification[]" value="@list.classificationName - @subValues.toString"> : @subValues.toString<br/>
                                                                }
                                                                }
                                                                </div>
                                                        </div>
                                                        
                                                        <!-- Content -->
                                                        
                                                        <!-- Tags -->
                                                        <!-- Buttons -->
                                                        <div class="form-actions">
                                                                <!-- Buttons -->
                                                                <button type="submit" class="btn btn-info">Delete Classification</button>
                                                                <button type="reset" class="btn">Reset</button>
                                                        </div>
                                                }
                                        </div>
                                </div>
                        </div>
                        <div class="widget-foot">
                                <!-- Footer goes here -->
                        </div>
                </div>
        </div>
</div>
<!-- Content ends -->
}
}   else {
@errorPage(""){ 
        
}

}