@* detailIssueDisplay Template File *@
@(form: Form[Issue], issue: Issue, classifications: List[Classification])(implicit session: play.api.mvc.Session) 
@if(session.get("userType").getOrElse("No User Type").equals("Admin")||session.get("userType").getOrElse("No User Type").equals("Feedcat User")){

@main("") { 

<!-- Main bar -->
<div class="mainbar">
        <!-- Page heading -->
        <div class="page-head">
                <!-- Breadcrumb -->
                
                <label class="lablelissue">Issue ID:</label>
               <span class="lablelissue">@issue.issueID</span>
                <div class="clearfix">
                </div>
        </div>
        <!-- Page heading ends -->
        <!-- Matter -->
        <div class="matter">
                <div class="container-fluid">
                        @helper.form(action = routes.CreateIssue.updateIssue, 'enctype -> "multipart/form-data"){
                         
                        <div class="row-fluid">
                        
                        
                                <div class="span4">
                                        <div class="widget wgreen">
                                                <div class="widget-head">
                                                        <div class="pull-left">
                                                                UPDATE ISSUE
                                                        </div>
                                                        <div class="widget-icons pull-right">
                                                                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                                                                
                                                        </div>
                                                        <div class="clearfix">
                                                        </div>
                                                </div>
                                                <div class="widget-content">
                                                        <div class="padd">
                                                                
                                                                 
                                                                <div class="control-group">
                                                                        
                                                                        <div class="controls">
                                                                                <input type="hidden" id="issueID" name="issueID" value="@issue.issueID" readonly/>
                                                                        </div>
                                                                </div>
                                                                
                                                                                                                                
                                                                
                                                                <!-- Select box For Issue Summary -->
                                                                <div class="control-group">
                                                                        <label class="control-label" for="issueSummary">Issue Summary:</label>
                                                                        <div class="controls">
                                                                                <textarea id="issueSummary" name="issueSummary" rows="6" cols="60" style="resize:none;">@issue.summary</textarea>
                                                                        </div>
                                                                </div>
                                                                   <br />
                                                                <!-- Select box For Issue Status -->
                                                                <div class="control-group">
                                                                        <label class="control-label">Issue Status:</label>
                                                                        <div class="controls">
                                                                                <select name="issueStatus">
                                                                                      <option value="@issue.status" style="background-color:green;"  >@issue.status</option> 
                                                                                        <option value="new">New</option>
                                                                                		
                                                                                        <option value="open">Open</option>
                                                                                        <option value="inProgess">InProgress</option>
                                                                                        <option value="resolved">Resolved</option>
                                                                                        <option value="notAnIssue">NotAnIssue</option>
                                                                                </select>
                                                                        </div>
                                                                </div>
                                                                 <br />
                                                                <!-- Select box For Issue Classification -->
                                                                <div class="control-group">
                                                                        <label class="control-label">Classification</label>
                                                                        <div class="controls">
                                                                            <div class="selectCheckBoxes">
                                                                @for(list <- classifications){ <strong>@list.classificationName </strong><br/>
                                                                	@for(subValues <- list.subClassification){
                                                                		@if(issue.classification.contains(list.classificationName+" - "+subValues.toString())){
                                                                <input type="checkbox" name="classification[]" value="@list.classificationName - @subValues.toString" checked> : @subValues.toString<br/>
                                                                } else {
                                                                <input type="checkbox" name="classification[]" value="@list.classificationName - @subValues.toString"> : @subValues.toString<br/>
                                                                }
                                                                
                                                                }
                                                                }
                                                                </div>
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        </div>
                                                                </div>
                                                                 <br />
                                                                 <div class="control-group">
                                                                        <label class="control-label" for="date">Date :</label>
                                                                        <div class="controls">
                                                                                <input type="text" id="date" name="date" value="@issue.date" readonly>
                                                                        </div>
                                                                </div>
                                                                 <br />
                                                                <!-- Select box For Issue Priority -->
                                                                <div class="control-group">
                                                                        <label class="control-label">Issue Priority:</label>
                                                                        <div class="controls">
                                                                                <select name="issuePriority">
                                                                                        <option value="@issue.priority" disabled>@issue.priority</option>
                                                                                        <option value="high">High</option>
                                                                                        <option value="medium">Medium</option>
                                                                                        <option value="low">Low</option>
                                                                                        <option value="unPrioritized">UnPrioritized</option>
                                                                                        
                                                                                </select>
                                                                        </div>
                                                                </div>
                                                                
                                                                <br /> 
                                                                                                                                
                                                                
                                                                <div class="control-group">
                                                                        <label class="control-label" for="lastUpdated">Last Updated.</label>
                                                                        <div class="controls">
                                                                                <input type=text name="lastUpdated" id="lastUpdated" value="@issue.lastUpdated" readonly/>
                                                                        </div>
                                                                </div>
                                                                 <br />
                                                                <div class="control-group">
                                                                        <label class="control-label" for="crossReferenceID">Cross Reference ID:</label>
                                                                        <div class="controls">
                                                                        <input  type="text" id="crossReferenceID" name="crossReferenceID" value="@issue.crossReferenceID" />
                                                                        </div>
                                                                        
                                                                        
                                                                </div> 
                                                                 <br />
                                                                
                                                                
                                                                <div class="control-group">
                                                                        <label class="control-label" for="action">Action/Solution</label>
                                                                        
                                                                                <div class="controls">
                                                                                <input  type="text" id="action" name="action" value="@issue.action" />
                                                                                </div>
                                                                        
                                                                </div>
                                                                 <br />
                                                                
                                                                <div class="control-group">
                                                                        <label class="control-label" for="action">Upload More Files</label>
                                                                        
                                                                                <div class="controls">
                                                                                
                                                                                        <input type="file" name="attachment" multiple>
                                                                                
                                                                                                                                
                                                                                </div>
                                                                        
                                                                </div>
                                                                 <br />
                                                                <div class="control-group">
                                                                        <label class="control-label" for="action">Uploaded Files</label>
                                                                        
                                                                                <div class="controls">
                                                                                <ul class="project">
                                                                                @issue.attachments.map{filename =>
                                                                                                <li>
                                                                                         <p class="p-meta">
                                                                                          <span>
                                                                                          <i class="icon-ok red"></i><a href="@routes.CreateIssue.download(filename, issue.issueID)">Download @filename</a>
                                                                                          </span> 
                                                                                          </p>
                                                                                         </li>
                                                                                        }
                                                                                        </ul>                                                           
                                                                                </div>
                                                                        
                                                                </div>
                                                                 <br />
                                                                
                                                                
                                                                
                                                        
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                @if(issue.issueType.equals("Customer-Feedback")){
                                        <div class="span6">
                                                        <div class="widget wlightblue">
                                                                <div class="widget-head">
                                                                        <div class="pull-left">
                                                                               CUSTOMER FEEDBACK 
                                                                        </div>
                                                                        <div class="widget-icons pull-right">
                                                                                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                                                                                <a href="#" class="wclose"><i class="icon-remove"></i></a>
                                                                        </div>
                                                                        <div class="clearfix">
                                                                        </div>
                                                                </div>
                                                                <div class="widget-content">
                                                                        <div class="padd">
                                                                                
                                                                                <!-- Form starts.  -->
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6" for="customerFeedback.query3">Query :</label>
                                                                                        <label class="bottomMargin span6" for="customerFeedback.location3">Location :</label>
                                                                                        
                                                                                </div>
                                                                                <div class="controls controls-row">
                                                                                        
                                                                                        
                                                                                                <input class="bottomMargin span6" type="text" id="customerFeedback.query3" name="customerFeedback.query3" value="@issue.customerFeedback.query">
                                                                                                <input class="bottomMargin span6" type="text" id="customerFeedback.location3" name="customerFeedback.location3" value="@issue.customerFeedback.location">
                                                                                        
                                                                                </div>
                                                                                 <br>
                                                                                      
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6" for="customerFeedback.reporter">Reporter :</label>
                                                                                        <label class="bottomMargin span6" for="customerFeedback.estimatedCost">Estimated Cost :</label>
                                                                                        
                                                                                        
                                                                                </div>
                                                                                <div class="controls controls-row">
                                                                                        
                                                                                        
                                                                                        <input class="span6" type="text" id="customerFeedback.reporter" name="customerFeedback.reporter" value="@issue.customerFeedback.reporter">
                                                                                        <input class="span6" type="text" id="customerFeedback.estimatedCost" name="customerFeedback.estimatedCost" value="@issue.customerFeedback.estimatedCost">                                                               
                                                                                </div>
                                                                                
                                                                                     <br />                                            
                                                                                 
                                                                                 
                                                                                 <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6">Liaison Name:</label>
                                                                                        <label class="bottomMargin span6">Liason Email:</label>
                                                                                        
                                                                                </div>
                                                                                
                                                                                <!-- Select box For Listings Effected -->
                                                                                <div class="controls controls-row">
                                                                                       <input class="span6" type="text" id="customerFeedback.liaison.name" name="customerFeedback.liaison.name" value="@issue.customerFeedback.liaison.name">
                                                                                       <input class="span6" type="text" id="customerFeedback.liaison.email" name="customerFeedback.liaison.email" value="@issue.customerFeedback.liaison.email">
                                                                                                                                                                                      
                                                                                        
                                                                                </div>
                                                                                
                                                                                 <br />
                                                                                 <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6">Liaison Role:</label>
                                                                                        <label class="bottomMargin span6">Liason Department:</label>
                                                                                        
                                                                                </div>
                                                                                
                                                                                <!-- Select box For Listings Effected -->
                                                                                <div class="controls controls-row">
                                                                                       <input class="span6" type="text" id="customerFeedback.liaison.role" name="customerFeedback.liaison.role" value="@issue.customerFeedback.liaison.role">
                                                                                       <input class="span6" type="text" id="customerFeedback.liaison.dept" name="customerFeedback.liaison.dept" value="@issue.customerFeedback.liaison.dept">
                                                                                                                                                                                      
                                                                                        
                                                                                </div>
                                                                                
                                                                                 <br />
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6">Listings effected:</label>
                                                                                        <label class="bottomMargin span6">Advertiser ID:</label>
                                                                                        
                                                                                </div>
                                                                                
                                                                                <!-- Select box For Listings Effected -->
                                                                                <div class="controls controls-row">
                                                                                        <input class="span6" type="text" id="customerFeedback.listingsEffected" name="customerFeedback.listingsEffected" value="@issue.customerFeedback.listingsEffected">
                                                                                        <input class="span6" type="text" id="customerFeedback.advertiserID" name="customerFeedback.advertiserID" value="@issue.customerFeedback.advertiserID">
                                                                                        
                                                                                              
                                                                                        
                                                                                </div>
                                                                                 <br />
                                                                                
                                                                                 <div class="controls controls-row">
                                                                                        <label  for="customerFeedback.initialCommunication">Initial Communication:</label>
                                                                                     
                                                                                
                                                                                </div>
                                                                                
                                                                                 <div class="controls controls-row">
               
                 <ul class="chats">

                      <div id="addinput">
                      @for(entireList <-  issue.customerFeedback.initialCommunication){
                        @for(indiComm <-0 to entireList.length-1){
                                   @if(indiComm%2==0){
                      <li class="by-me">
                        <!-- Use the class "pull-left" in avatar -->
                        <div class="avatar pull-left">
                         
                        </div>

                        <div class="chat-content">
                          <!-- In meta area, first include "name" and then "time" -->
                          <div class="chat-meta">Communication <span class="pull-right"><a href="#" id="addNew">Add More</a></span></div>
                                                                    <textarea class="span12" id="customerFeedback.initialCommunication[@indiComm]" name="customerFeedback.initialCommunication[@indiComm]" rows="6" >@entireList(indiComm)</textarea>
                          <div class="clearfix"></div>
                        </div>
                      </li> 
                      } else {
                      <li class="by-other">
                        <!-- Use the class "pull-left" in avatar -->
                        <div class="avatar pull-left">
                         
                        </div>

                        <div class="chat-content">
                          <!-- In meta area, first include "name" and then "time" -->
                          <div class="chat-meta">Communication <span class="pull-right"><a href="#" id="addNew">Add More</a></span></div>
                                                                    <textarea class="span12" id="customerFeedback.initialCommunication[@indiComm]" name="customerFeedback.initialCommunication[@indiComm]" rows="6" >@entireList(indiComm)</textarea>
                          <div class="clearfix"></div>
                        </div>
                      </li> 
                      }
                      }}
                      </div>
 <br />
 
                      <!-- Chat by other. Use the class "by-other". -->
                     
                      
                    </ul>
                
                     </div>      
                                                                              
                                                                                
                                                                        </div>
                                                                        <hr/>
                                                                        <button type="submit" class="btn btn-success">Update Issue</button>
                                                                         <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch Detailed Modal</a>
                                                                        
                                                                        
                                                                </div>
                                                        </div>
                                                
                                                                        
                                                        
                                        </div>
                                
                                
                                }
                                <!-- Zero Results  -->
                                
                                @if(issue.issueType.equals("Zero-Result")){
                                                
                                                
                                                <div class="span6">
                                                        <div class="widget wred">
                                                                <div class="widget-head">
                                                                        <div class="pull-left">
                                                                                ZERO RESULTS
                                                                        </div>
                                                                        <div class="widget-icons pull-right">
                                                                                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                                                                                <a href="#" class="wclose"><i class="icon-remove"></i></a>
                                                                        </div>
                                                                        <div class="clearfix">
                                                                        </div>
                                                                </div>
                                                                <div class="widget-content">
                                                                        <div class="padd">
                                                                                
                                                                                <!-- Form starts.  -->
                                                                                <div class="control-group">
                                                                                        <label class="control-label" for="zeroResults.query">Query :</label>
                                                                                        <div class="controls">
                                                                                                <input type="text" id="zeroResults.query" name="zeroResults.query"  value="@issue.zeroResults.query">
                                                                                        </div>
                                                                                </div>
                                                                                <div class="control-group">
                                                                                        <label class="control-label" for="zeroResults.location">Location :</label>
                                                                                        <div class="controls">
                                                                                                <input type="text" id="zeroResults.location" name="zeroResults.location" value="@issue.zeroResults.location">
                                                                                        </div>
                                                                                </div>
                                                                                <div class="control-group">
                                                                                        <label class="control-label" for="zeroResults.count">Count :</label>
                                                                                        <div class="controls">
                                                                                                <input type="text" id="zeroResults.count" name="zeroResults.count" value="@issue.zeroResults.count">
                                                                                        </div>
                                                                                </div>
                                                                                <div class="control-group">
                                                                                        <label class="control-label" for="zeroResults.percentage">Percentage :</label>
                                                                                        <div class="controls">
                                                                                                <input type="text" id="zeroResults.percentage" name="zeroResults.percentage" value="@issue.zeroResults.percentViews">
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <hr/>
                                                                        <button type="submit" class="btn btn-success">Update Issue</button>
                                                                         <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch Detailed Modal</a>
                                                                        
                                                                </div>
                                                        </div>
                                                </div>
                                        
                                }
                                <!-- User Feedback  -->
                                @if(issue.issueType.equals("User-Feedback")){
                                        
                                                <div class="span6">
                                                
                                                        <div class="widget wviolet">
                                                                <div class="widget-head">
                                                                        <div class="pull-left">
                                                                                USER FEEDBACK
                                                                        </div>
                                                                        <div class="widget-icons pull-right">
                                                                                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                                                                                <a href="#" class="wclose"><i class="icon-remove"></i></a>
                                                                        </div>
                                                                        <div class="clearfix">
                                                                        </div>
                                                                </div>
                                                                <div class="widget-content">
                                                                        <div class="padd">
                                                                                
                                                                                <!-- Form starts.  -->
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6"  for="userFeedback.query2">Query :</label>
                                                                                        <label class="bottomMargin span6"  for="userFeedback.location2">Location :</label>
                                                                                        
                                                                                </div>
                                                                                <div class="controls controls-row">
                                                                                        
                                                                                        
                                                                                        <input class="span6" type="text" id="userFeedback.query2" name="userFeedback.query2" value="@issue.userFeedback.query">
                                                                                                <input class="span6" type="text" id="userFeedback.location2" name="userFeedback.location2" value="@issue.userFeedback.location">
                                                                                        
                                                                                </div>
                                                                                
                                                                                
                                                                                     <br />
                                                                                
                                                                                
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6" for="userFeedback.count3">Count :</label>
                                                                                        
                                                                                                <label class="bottomMargin span6" for="userFeedback.reporter">Reporter :</label>
                                                                                        
                                                                                </div>
                                                                                <div class="controls controls-row">
                                                                                        
                                                                                        
                                                                                        <input class="span6" type="text" id="userFeedback.count2" name="userFeedback.count2" value="@issue.userFeedback.count">
                                                                                                <input class="span6" type="text" id="userFeedback.reporter" name="userFeedback.reporter" value="@issue.userFeedback.reporter">
                                                                                        
                                                                                </div>
                                                                                     <br />
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6" for="userFeedback.problemSource">Problem Source :</label>
                                                                                        <label class="bottomMargin span6" for="userFeedback.endUserFeedback">End User Feedback :</label>
                                                                                        
                                                                                </div>
                                                                                <div class="controls controls-row">
                                                                                        
                                                                                        
                                                                                        <input class="span6" type="text" id="userFeedback.problemSource" name="userFeedback.problemSource" value="@issue.userFeedback.problemSource">
                                                                                                <input class="span6" type="text" id="userFeedback.endUserFeedback" name="userFeedback.endUserFeedback" value="@issue.userFeedback.endUserFeedback">
                                                                                        
                                                                                </div>
                                                                                     <br />
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6" for="userFeedback.searchEngineerFeedback">Search Engineer Feedback :</label>
                                                                                        
                                                                                        <label class="bottomMargin span6" for="userFeedback.npsScore">NPS Score :</label>
                                                                                </div>
                                                                                
                                                                                <div class="controls controls-row">
                                                                                        
                                                                                        
                                                                                        <input class="span6" type="text" id="userFeedback.searchEngineerFeedback" name="userFeedback.searchEngineerFeedback" value="@issue.userFeedback.searchEngineerFeedback">
                                                                                        
                                                                                         <input class="span6" type="text" id="userFeedback.npsScore" name="userFeedback.npsScore" value="@issue.userFeedback.npsScore">
                                                                                        
                                                                                       
                                                                                                                
                                                                                </div>
                                                                                
                                                                                     <br />
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                <div class="controls controls-row">
                                                                                        <label class="bottomMargin span6" for="userFeedback.verbatimFeedback">Verbatim Feedback:</label>
                                                                                        <label class="bottomMargin span6">Feedback Class:</label>
                                                                                                
                                                                                        
                                                                                </div>
                                                                                <div class="control-group">
                                                                                        
                                                                                        
                                                                                        <textarea class="span6" id="userFeedback.verbatimFeedback" name="userFeedback.verbatimFeedback" rows="8" style="resize:none;" >@issue.userFeedback.verbatimFeedback</textarea>
                                                                                        
                                                                                         <input class="span6" type="text" id="userFeedback.feedbackClass" name="userFeedback.feedbackClass" value="@issue.userFeedback.feedbackClass">
                                                                                                
                                                                                        
                                                                                </div>
                                                                                     <br />
                                                                        </div>
                                                                        <hr/>
                                                                        <button type="submit" class="btn btn-success">Update Issue</button>
                                                                        
                 
                  													  <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch Detailed Modal</a>
                                                                </div>
                                                        </div>
                                                </div>
                                                }
                                        
                                
                                
                                        
                                                        
                                
                                <div class="widget-foot">
                                       


                    
                     
                    <!-- Modal -->
                    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h3 id="myModalLabel">DETAIL ISSUE</h3>
                      </div>
                      <div class="modal-body">
                      	<div class="matter">
       						 <div class="container-fluid">

         						 <div class="row-fluid">

           							 <div class="span12">
           								 <div class="widget-content">
               								   <div class="padd">
               								   <div class="control-group">
                                           		 <label class="control-label">Issue ID : </label>
                                           		 <div class="controls">
                                            	  <div class="alert alert-success">
               								   		 @issue.issueID
               								    	</div>
                                          		  </div>
                                         		 </div>
                                         		 
                                         		 
               								   	<div class="control-group">
                                           		 <label class="control-label">Issue Summary : </label>
                                           		 <div class="controls">
                       							<div class="alert alert-success">
               								   	 @issue.summary
               								   	</div>
               								   	</div>
                                         		 </div>
                                         		 
                                         		 
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Status : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.status
               								   	</div></div>
                                         		 </div>
               								   	
               								   	<div class="control-group">
                                           		 <label class="control-label">Issue Classification : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	@issue.classification.map{name =><i class="icon-ok red"></i> @name}
               								   	</div></div>
                                         		 </div>
               								   	
               								   	<div class="control-group">
                                           		 <label class="control-label">Issue Date : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.date
               								   	</div></div>
                                         		 </div>
               								   	
               								   	<div class="control-group">
                                           		 <label class="control-label">Issue Priority : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.priority
               								   	</div></div>
                                         		 </div>
               								   	
               								   	<div class="control-group">
                                           		 <label class="control-label">Issue Last Updated : </label>
                                           		 <div class="controls">
                       							<div class="alert alert-success">
               								   	 @issue.lastUpdated
               								   	</div></div>
                                         		 </div>
               								   	
               								   	<div class="control-group">
                                           		 <label class="control-label">Issue Cross Reference ID : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	@issue.crossReferenceID
               								   	</div></div>
                                         		 </div>
               								   	
               								   	<div class="control-group">
                                           		 <label class="control-label">Issue Action Taken : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	@issue.action
               								   	</div></div>
                                         		 </div>
               								   	
               								   	
               								   	<div class="control-group">
                                           		 <label class="control-label">Issue Attachments : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.attachments.map{filename =><i class="icon-ok red"></i> @filename}
               								   	</div></div>
                                         		 </div>

















													@if(issue.issueType.equals("Customer-Feedback")){
													<div class="control-group">
                                           		 <label class="control-label">Issue Type : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.issueType
               								   	</div></div>
                                         		 </div>
                                         		 
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Query : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.customerFeedback.query
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Location : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.customerFeedback.location
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Reporter : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.customerFeedback.reporter
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Estimated Cost : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.customerFeedback.estimatedCost
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Liason Name : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.customerFeedback.liaison.name
               								   	</div></div>
                                         		 </div>
                                         		 
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Liason Email : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.customerFeedback.liaison.email
               								   	</div></div>
                                         		 </div>
                                         		 
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Liason Role : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.customerFeedback.liaison.role
               								   	</div></div>
                                         		 </div>
                                         		 
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Liason Department : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.customerFeedback.liaison.dept
               								   	</div></div>
                                         		 </div>
                                         		 
                                         		  <div class="control-group">
                                           		 <label class="control-label">Issue Listings Effected </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.customerFeedback.listingsEffected
               								   	</div></div>
                                         		 </div>
                                         		 
                                         		  <div class="control-group">
                                           		 <label class="control-label">Issue Advertiser ID </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.customerFeedback.advertiserID
               								   	</div></div>
                                         		 </div>
                                         		 
                                         		  <div class="control-group">
                                           		 <label class="control-label">Issue Initial Communication </label>
                                           		 <div class="controls">
                                           		 @issue.customerFeedback.initialCommunication.map{comm => <div class="alert alert-success">
               								   	 <i class="icon-ok red"></i>@comm
               								   	</div>}
               								   	</div>
                                         		 </div>

												}










												@if(issue.issueType.equals("Zero-Result")){
												<div class="control-group">
                                           		 <label class="control-label">Issue Type : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.issueType
               								   	</div></div>
                                         		 </div>
                                         		 
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Query : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.zeroResults.query
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Location : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.zeroResults.location
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Count : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.zeroResults.count
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue PercentViews : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.zeroResults.percentViews
               								   	</div></div>
                                         		 </div>
                                         		 }







 												@if(issue.issueType.equals("User-Feedback")){
 													<div class="control-group">
                                           		 <label class="control-label">Issue Type : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.issueType
               								   	</div></div>
                                         		 </div>
                                         		 
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Query : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.userFeedback.query
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Location : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.userFeedback.location
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Count : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.userFeedback.count
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Reporter : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.userFeedback.reporter
               								   	</div></div>
                                         		 </div>
                                         		 
                                         		 
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Problem Source : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.userFeedback.problemSource
               								   	</div></div>
                                         		 </div>
                                         		 
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue End User Feedback : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.userFeedback.endUserFeedback
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Search Engineer Feedback : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.userFeedback.searchEngineerFeedback
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue NPS Score : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	 @issue.userFeedback.npsScore
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Verbatim Feedback : </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	@issue.userFeedback.verbatimFeedback
               								   	</div></div>
                                         		 </div>
                                         		 <div class="control-group">
                                           		 <label class="control-label">Issue Feedback Class: </label>
                                           		 <div class="controls">
               								   	<div class="alert alert-success">
               								   	@issue.userFeedback.feedbackClass
               								   	</div></div>
                                         		 </div>
													}

													
                      </div></div></div></div></div></div></div>
                      <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        
                      </div>
                    </div>

                                </div>
                        </div>
                
                 }
                 
        </div>
</div>
<!-- Matter ends -->
</div>
<!-- Mainbar ends -->
<div class="clearfix">
</div>
</div>
<!-- Content ends -->
}}  else {
@errorPage(""){ 
        
}
}