@(form: Form[Category],classificationList: List[Classification])(implicit session: play.api.mvc.Session) 
@if(session.get("userType").getOrElse("No User Type").equals("Admin")){
	
@main(""){
<div class="mainbar">
        <!-- Page heading -->
        <div class="page-head">
                <!-- Page heading -->
                <h2 class="pull-left">
                </h2>
                <div class="widget worange">
                        <div class="widget-head">
                                <div class="pull-left">
                                       Edit Classification
                                </div>
                                <div class="widget-icons pull-right">
                                        <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                                        <a href="#" class="wclose"><i class="icon-remove"></i></a>
                                </div>
                                <div class="clearfix">
                                </div>
                        </div>
                        <div class="widget-content">
                                <div class="padd">
                                        <div class="form quick-post">
                                                <!-- Edit profile form (not working)-->
                                                @helper.form(action = routes.Admin.submitClassification){
                                                        <!-- Title -->
                                                        
                                                                <div class="control-group">
                                                                <label class="control-label">Select Category of Classification</label>
                                                                <div class="controls">
                                                                        <select name="superClassification">
                                                                                 @for(individualClassification <- classificationList){ 
                                                                                 <option value="@individualClassification.classificationName">@individualClassification.classificationName</option>
                                                                                 }
                                                                        </select>
                                                                </div>
                                                        </div>
                                                        <div class="control-group">
                                                                <label class="control-label" for="subClassification">Please Enter Classification</label>
                                                                <div class="controls">
                                                                        <input type="text" class="input-xlarge" id="subClassification" name="subClassification"/>
                                                                </div>
                                                        </div>
                                                        <!-- Content -->
                                                        
                                                        <!-- Tags -->
                                                        <!-- Buttons -->
                                                        <div class="form-actions">
                                                                <!-- Buttons -->
                                                                <button type="submit" class="btn btn-info">Save Classification</button>
                                                                <button type="reset" class="btn">Reset</button>
                                                        </div>
                                                }
                                        </div>
                                </div>
                        </div>
                        <div class="widget-foot">
                                <!-- Footer goes here -->
                        </div>
                </div>
        </div>
</div>
<!-- Content ends -->
}
} else {
@errorPage(""){ 
        
}

}