@(issues : List[Issue] , classifications : List[Classification], issuesCount : Double)(implicit session: play.api.mvc.Session) 
		
@if(session.get("userType").getOrElse("No User Type").equals("Admin")||session.get("userType").getOrElse("No User Type").equals("Feedcat User")){

@main(session.get("userType").get){
        
        <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/issuePopUP.css")">
        <script src="@routes.Assets.at("javascripts/sorttable.js")"></script>
        <script src="@routes.Assets.at("javascripts/deleteJquery.js")"></script>

        <!-- Main bar -->
        <div class="mainbar">
            <div class="page-head">
                             <div class="clearfix"></div></div>
            <div class="matter">
        <div class="container-fluid">

<form>
          <div class="row-fluid">

            <div class="span12">

                <div class="widget wgreen">

                <div class="widget-head">
                  <div class="pull-left">Issues</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>

                  <div class="widget-content">

                    <table class="table  table-bordered sortable" >
                      <thead>
                                                <tr>
                                                <th class="id">ID</th>
                                                <th class="q">Query</th>
                                                <th class ="l">Location</th>
                                                <th class ="d">Date</th>
                                                <th class ="s">Status</th>
                                                <th class ="it">Issue Type</th>
                                                <th class ="c">Classification</th>
                                                <th class ="del">Delete</th>
                                                </tr>
                                        </thead>

                                        @for(issue <- issues){
                                                                        @if(issue.issueType.equals("Customer-Feedback")){
                                                        <tr >
                                                                <td>@issue.issueID</a></td>
                                                                <td><a href="/detail/@issue.issueID" >@issue.customerFeedback.query</a></td>
                                                                <td>@issue.customerFeedback.location</td>
                                                                <td>@issue.date</td>
                                                                <td>@issue.status</td>
                                                                <td>@issue.issueType</td>
                                                                                                                                                                                       
                                                                <td>@issue.classification.map{value => <i class="icon-share violet"></i> @value </br>}</td>
                                                                <td><a class="delLink" id="@issue.issueID"><img src="@routes.Assets.at("images/del.png")" /></a></td>
                                                    
                                                        <!-- "/delete/issue.issueID" -->
                                                        </tr>
                                                        }
                                                        
                                                        
                                                        
                                                                 @if(issue.issueType.equals("User-Feedback")){
                                                        <tr>
                                                                <td>@issue.issueID</a></td>
                                                                <td><a href="/detail/@issue.issueID" >@issue.userFeedback.query</a></td>
                                                                <td>@issue.userFeedback.location</td>
                                                                <td>@issue.date</td>
                                                                <td>@issue.status</td>
                                                                <td>@issue.issueType</td>
																<td>@issue.classification.map{value => <i class="icon-share violet"></i> @value </br>}</td>
                                                         <td> <a class="delLink" id="@issue.issueID" href="#" ><img src="@routes.Assets.at("images/del.png")" /></a></td>
                                                        </tr>
                                                        }
                                                        
                                                                 @if(issue.issueType.equals("Zero-Result")){
                                                        <tr>
                                                                <td>@issue.issueID</a></td>
                                                                <td><a href="/detail/@issue.issueID"  >@issue.zeroResults.query</a></td>
                                                                <td>@issue.zeroResults.location</td>
                                                                <td>@issue.date</td>
                                                                <td>@issue.status</td>
                                                                <td>@issue.issueType</td>
                                                               <td>@issue.classification.map{value => <i class="icon-share violet"></i> @value </br>}</td>
                                                         <td><a class="delLink" id="@issue.issueID" ><img src="@routes.Assets.at("images/del.png")" /></a></td>
                                                        
                                                        </tr>
                                                        }
                                        
                    
            
                  
                               
                  
                  
                  
              }
              </table>
                    <div class="widget-foot">

                      <div class="pagination pull-right">
                        <ul>
                        
                        
                          <li><a href="#">Prev</a></li>
                  @if(issuesCount.toInt != 0 ){
                    @for( i <- 1 to issuesCount.toInt){
                        <li><a href="/fetch/@i">@i</a></li>
                  
                    }}else {<li><a href="/fetch/1">1</a></li>}
                        
                          <li><a href="#">Next</a></li>
                        </ul>
                      </div>
                      <div class="clearfix"></div> 

                    </div>
                 </div>
     
                                </div>
                        </div>
                </div>
                </form>
                </div>
                
                
                

                
                
                
                
      
                <!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->                
   <div class="clearfix"></div>

</div>
        }
} else {
@errorPage(""){ 
        
}

}