@(form: Form[Search], classificationList: List[Classification])(implicit session: play.api.mvc.Session) 
@if(session.get("userType").getOrElse("No User Type").equals("Admin")||session.get("userType").getOrElse("No User Type").equals("Feedcat User")){




@main("") { 
<div class="mainbar">
        <div class="page-head">
                <div class="clearfix">
                </div>
        </div>
        <div class="matter">
                <div class="container-fluid">
                
                         @helper.form(action = routes.SearchIssue.searchIssue){
                        <div class="row-fluid">
                                <div class="span4">
                                        <div class="widget wgreen">
                                                <div class="widget-head">
                                                        <div class="pull-left">
                                                                Search Issue
                                                        </div>
                                                        
                                                        <div class="clearfix">
                                                        </div>
                                                </div>
                                                <div class="widget-content">
                                                        <div class="padd">
                                                                <hr/>
                                                                
                                                                 <div class="control-group">
                                                                                                         <label class="control-label" for="query">Query :</label>
                                                                                                                             <div class="controls">
                                                                                                                                <input type="text" id="query" name="query" placeholder="Query">
                                                                                                                                </div>
                                                                                                                                </div>
                                                                
                                                                
                                                                
                                                                <div class="control-group">
                                                                                                         <label class="control-label" for="location">Location :</label>
                                                                                                                             <div class="controls">
                                                                                                                                <input type="text" id="location" name="location" placeholder="Location">
                                                                                                                                </div>
                                                                                                                                </div>
                                                                                                                              
                                                                <div class="control-group">
                                                                        <label class="control-label" for="date">Date :</label>
                                                                        <div class="controls">
                                                                        		
                                                                                <input type="text" id="date" name="date" placeholder="Date">
                                                                        </div>
                                                                </div>
                                                         
                                                                          <div class="control-group">
                                                                        <label class="control-label" for="Reporter">Reporter :</label>
                                                                        <div class="controls">
                                                                                <input type="text" id="reporter" name="reporter" placeholder="reporter">
                                                                        </div>
                                                                 </div>
                                                                 
                                                                 
                                                                 <div class="controls controls-row">
                                                                <label class="control-label">Classification</label>
                                                                
                                                                <div class="selectCheckBoxes">
                                                                @for(list <- classificationList){ <strong>@list.classificationName </strong><br/>
                                                                	@for(subValues <- list.subClassification){
                                                                <input type="checkbox" name="classification[]" value="@list.classificationName - @subValues.toString"> : @subValues.toString<br/>
                                                                }
                                                                }
                                                                </div>
                                                                
                                                                </div>
                                                                                                                                
                                                                                                                               
                                                                 
                                                                 <br>
                                                                
                                                                 
                                                                 <div class="submit-container">
                                                                                                                                                <button class="search-button" type="submit"  id="search" name="search" >Search </button>
                                                                                                                                </div>
                                                        </div>
                                                        
                                                </div>
                                        </div></div>
                                        
                                                         
                                <!-- Advanced Search  -->
                                
                                        
                                                
                                                
                                                <div class="span4">
                                                        <div class="widget wred">
                                                                <div class="widget-head">
                                                                        <div class="pull-left">
                                                                               Advanced Search 
                                                                        </div>
                                                                        <div class="widget-icons pull-right">
                                                                                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                                                                                <a href="#" class="wclose"><i class="icon-remove"></i></a>
                                                                        </div>
                                                                        <div class="clearfix">
                                                                        </div>
                                                                </div>
                                                                <div class="widget-content">
                                                                        <div class="padd">
                                                                                
                                                                                <!-- Form starts.  -->
                                                                                                                                                                                        
                                                                             
                                                                                                <div class="control-group">
                                                                        <label class="control-label">Issue Priority:</label>
                                                                        <div class="controls">
                                                                                <select name="issuePriority">
                                                                                		<option value="all">All</option>
                                                                                        <option value="high">High</option>
                                                                                        <option value="medium">Medium</option>
                                                                                        <option value="low">Low</option>
                                                                                        <option value="unPrioritized">Un-Prioritized</option>
                                                                                </select>
                                                                        </div>
                                                                </div>
                                                                                                                                                                                                <div class="control-group">
                                                                        <label class="control-label">Issue Status:</label>
                                                                        <div class="controls">
                                                                                <select name="issueStatus">
                                                                                		<option value="all">All</option>
                                                                                		<option value="new">New</option>
                                                                                		
                                                                                        <option value="open">Open</option>
                                                                                        <option value="inProgess">In Progress</option>
                                                                                        <option value="resolved">Resolved</option>
                                                                                        <option value="notAnIssue">Not-An-Issue</option>                                                                                </select>
                                                                        </div>
                                                                </div>
                                                                                                                                                                                                <div class="control-group">
                                                                        <label class="control-label">Issue Type:</label>
                                                                        <div class="controls">
                                                                                <select name="issueType">
                                                                                		<option value="all">All</option>
                                                                                        <option value="User-Feedback">User Feedback</option>
                                                                                        <option value="Zero-Result">Zero Result</option>
                                                                                        <option value="Customer-Feedback">Customer Feedback</option>
                                                                                </select>
                                                                        </div>
                                                                </div></div>
                                                                                                                                                                
                                                                                                                                                                
                                                                                                                                                </div>
                                                        </div>
                                                </div>
                                        
                              

                               
                                        
                                
                          
                                <div class="widget-foot">
                                        <!-- Footer goes here -->
                                </div>
                        </div>
                
                 }
                 
        </div>
</div>
<!-- Matter ends -->
</div>
<!-- Mainbar ends -->
<div class="clearfix">
</div>

<!-- Content ends -->
}
}  else {
@errorPage(""){ 
        
}

}