@* visualise Template File *@
@(priority: List[Int],typeList : List[Int], statusList : List[Int], countRep : List[Int])(implicit flash: Flash ,session: play.api.mvc.Session)
@if(session.get("userType").getOrElse("No User Type").equals("Admin")||session.get("userType").getOrElse("No User Type").equals("Feedcat User")){
@main(""){
<script src="@routes.Assets.at("javascripts/jquery.js")"></script>
<!-- remove barChart.js to avoid js stop leading to no high char etc, also change id for bar-chart to john-bar-chart -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/highcharts.js")"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOz82vkHn9Ury6CBC3yFg9J1xJIkCh1Tk&libraries=places,visualization&sensor=false"></script>
<script src="@routes.Assets.at("javascripts/exporting.js")"></script>
<script src="@routes.Assets.at("javascripts/d3.v3.min.js")"></script>

<script src="@routes.Assets.at("javascripts/areaChartStatus.js")"></script>
<script src="@routes.Assets.at("javascripts/grpedColoumnChart.js")"></script>
<script src="@routes.Assets.at("javascripts/feedcat-visualization.js")"></script>

<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<!-- Page heading -->
		<h2 class="pull-left">Dashboard 
			<!-- page meta -->
		</h2>
		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<!-- Divider -->
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container-fluid">
			<!-- ACTUAL DASHBOARD -->
			<div class="row-fluid">
				<div class="span12"> 
					<!-- List starts -->
					<ul class="today-datas">

						<!-- List #1 -->
						<a href="/zeroResults"> 
							<li class="bred">
								<!-- Graph -->
								<div class="pull-left"><span id="todayspark1" class="spark"></span></div>
								<!-- Text -->
								<div class="datas-text pull-right"><span class="bold">@typeList(0)</span>Zero Results</div>

								<div class="clearfix"></div>
							</li>
						</a>

						<a href="/userFeedback"> 
							<li class="bgreen">
								<!-- Graph -->
								<div class="pull-left"><span id="todayspark3" class="spark"></span></div>
								<!-- Text -->
								<div class="datas-text pull-right"><span class="bold">@typeList(1)</span>User Feedback</div>

								<div class="clearfix"></div>
							</li>
						</a>

						<a href="/customerFeedback"> 
							<li class="blightblue">
								<!-- Graph -->
								<div class="pull-left"><span id="todayspark2" class="spark"></span></div>
								<!-- Text -->
								<div class="datas-text pull-right"><span class="bold">@typeList(2)</span>Customer Feedback</div>

								<div class="clearfix"></div>
							</li>
						</a>

</ul> 
</div>
</div>

<!-- Dashboard Graph starts -->
<div class="row-fluid">
	<div class="span12">
		<!-- Widget -->
		<div class="widget wviolet">
			<div class="widget-head">
				<div class="pull-left">Priority Pie Chart</div>
				<div class="widget-icons pull-right">
					<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="widget-content">
				<div class="padd">
					<div class="row-fluid">
						<div class="span10">
							<div id="pie-chart2">
								<input type="hidden" value="@priority.head"  id="highPriVal" />
								<input type="hidden" value="@priority.tail.head"  id="lowPriVal" />
								<input type="hidden" value="@priority.tail.tail.head"  id="medPriVal" />
								<input type="hidden" value="@priority.tail.tail.tail.head"  id="unPriVal" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Bar chart (Blue color). jQuery Flot plugin used. -->
		<div class="row-fluid">
			<div class="span12">
				<!-- Widget -->
				<div class="widget wblue">
					<!-- Widget head -->
					<div class="widget-head">
						<div class="pull-left">Classification</div>
						<div class="widget-icons pull-right">
							<input id="classification-start-date" placeholder="2013-01-01" value="2013-01-01" style="width:6em; text-align:center;" readonly/>
							<input id="classification-end-date" placeholder="2014-01-01" value="2014-01-01" style="width:6em; text-align:center;" readonly/>
				        	<button id="reload-classification-btn" class="btn btn-success btn-small"> Go </button>
							<a href="#" class="wminimize"><i class="icon-chevron-down"></i></a> 
						</div>
						<div class="clearfix"></div>
					</div>             
					<!-- Widget content -->
					<div class="widget-content visualize-w">
						<div class="padd">
							<div id="john-bar-chart-wrapper">
							<div id="john-bar-chart">
							</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Widget ends -->
			</div>
			<div class="clearfix"></div>  
		</div>
		<!-- Bar chart ends -->


		<!-- Area chart starts -->  
		<div class="widget wgreen">
			<!-- Widget head -->
			<div class="widget-head">
				<div class="pull-left">Reporters</div>
				<div class="widget-icons pull-right">
			        <button class="btn btn-small">Now @java.util.Calendar.getInstance().get(java.util.Calendar.WEEK_OF_YEAR)</button>
					<input id="reporter-start-date" placeholder="2013-01-01" value="2013-01-01" style="width:6em; text-align:center;" readonly/>
					<input id="reporter-end-date" placeholder="2014-01-01" value="2014-01-01" style="width:6em; text-align:center;" readonly/>
			        <button id="reload-reporter-btn" class="btn btn-primary btn-small"> Go </button>
					<a href="#" class="wminimize"><i class="icon-chevron-down"></i></a> 
				</div>
				<div class="clearfix"></div>
			</div>        
			<div class="widget-content">
				<div class="padd">
					<div id="reporter-history-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
				</div>
			</div>
		</div>
		<!-- Area chart ends --> 


		<!-- Column Chart for Status Starts -->
		<div class="widget wlightblue">
			<!-- Widget head -->
			<div class="widget-head">
				<div class="pull-left">Trends</div>
				<div class="widget-icons pull-right">
					<input id="trends-year-input" maxlength="4" placeholder="2013" style="width: 10em; text-align:center;"/>
					<a href="#" class="wminimize"><i class="icon-chevron-down"></i></a> 
				</div>
				<div class="clearfix"></div>
			</div>          
			<div class="widget-content">
				<div class="padd">
					<div id="coloumnChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
					<hr />
				</div>
			</div>
		</div>
		<!-- Column Chart for Status ends -->


		<!-- Heatmap Start -->
		<div class="row-fluid">
			<div class="span12">
				<!-- Widget -->
				<div class="widget worange">
					<!-- Widget head -->
					<div class="widget-head">
						<div class="pull-left">Heatmap</div>
						<div class="widget-icons pull-right">
							<a href="#" class="wminimize"><i class="icon-chevron-down"></i></a> 
						</div>
						<div class="clearfix"></div>
					</div>             

					<!-- Widget content -->
					<div class="widget-content visualize-w" style="display:block;">
						<div class="row-fluid">
							<div id="map-canvas"></div>             
							<div id="map-searchbox-wrapper">
								<div id="map-searchbox">
									<p><i>Heatmap</i></p>
									<button type="button" onclick="toggleHeatmap()">Toggle</button>
									<button type="button" onclick="changeZoomLevel()">Zoom</button>
									<p><i>Search location</i></p>
									<input id="search-text" placeholder="Hit enter to search...">
								</div>
							</div>
						</div>
					</div>
					<!-- Widget ends -->
				</div>
				<div class="clearfix"></div>  
			</div>
		</div>
		<!-- Heatmap End -->

	</div>
</div>
</div>
</div>
</div>

<div class="slide-box">

	<!-- Notification box head -->
	<div class="slide-box-head bred">
		<!-- Title -->
		<div class="pull-left">Notification Centre !</div>          
		<!-- Icon -->
		<div class="slide-icons pull-right">
			<a href="#" class="sminimize"><i class="icon-chevron-down"></i></a> 
			<a href="#" class="sclose"><i class="icon-remove"></i></a>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="slide-content">

		<!-- It is default bootstrap nav tabs. See official bootstrap doc for doubts -->
		<ul class="nav nav-tabs">
			<!-- Tab links -->
			<li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-bar-chart"></i></a></li>
			<li><a href="#tab2" data-toggle="tab"><i class="icon-phone"></i></a></li>
			<li><a href="#tab3" data-toggle="tab"><i class="icon-comments"></i></a></li>
		</ul>

		<!-- Tab content -->

		<div class="tab-content">

			<div class="tab-pane active" id="tab1">

				<!-- Graph #1 -->
				<div class="slide-data">
					<div class="slide-data-text">High Priority Issues</div>
					<div class="slide-data-result">@priority.head <i class="icon-arrow-up red"></i> </div>
					<div class="clearfix"></div>
					<hr />
				</div>

				<!-- Graph #2 -->
				<div class="slide-data">
					<div class="slide-data-text">Open Issues</div>
					<div class="slide-data-result">@statusList.head<i class="icon-arrow-down green"></i> </div>
					<div class="clearfix"></div>
					<hr />
				</div>                

			</div>

			<div class="tab-pane" id="tab2">
				<h5>Have some content here.</h5>
				<p>Aliquam dui libero, pharetra nec venenatis in, scelerisque quis odio. In hac habitasse platea dictumst. Etiam porta placerat turpis, eget fermentum neque egestas at. Vestibulum ullamcorper, augue a sollicitudin vestibulum, orci purus semper felis, lobortis consequat nisi nunc eu enim. </p>
			</div>

			<div class="tab-pane" id="tab3">
				<h5>Have some content here.</h5>
				<p>Aliquam dui libero, pharetra nec venenatis in, scelerisque quis odio. In hac habitasse platea dictumst. Etiam porta placerat turpis, eget fermentum neque egestas at. Vestibulum ullamcorper, augue a sollicitudin vestibulum, orci purus semper felis, lobortis consequat nisi nunc eu enim.</p>
			</div>              

		</div>

	</div>

</div> 


        }
} else {
@errorPage(""){ 
        
}

}